// GOKZ Interrupt Pause
// Copy or merge these values into cfg/sourcemod/gokz-interruptpause.cfg after first plugin load.

sm_interruptpause_debug "0"
sm_interruptpause_server_id "1"
sm_interruptpause_api_base_url "http://127.0.0.1:3000/api/plugin/interrupt-pause"
sm_interruptpause_api_token "replace_with_plugin_token"
sm_interruptpause_api_timeout "10"
